.site-footer {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 11px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  height: auto;
}

.footer_line {
  width: 40px;
  height: 1px;
  margin-bottom: 35px;
  background-color: rgba(23,4,29,0.2);
}
