.site-header {
  width: 100%;
  margin: 70px 0;
  float: left;
}
h1.site-title {
  width: 273px;
  height: auto;
  float: left;
  margin: 0;
  a:hover {
    border: none;
  }
  img {
    width: 273px;
  }
}
.main-navigation {
  float: right;
  padding-top: 15px;
  .menu-wrap {
    float: left;
    ul {
      margin: 0;
      padding: 0;
      li {
        float: right;
        list-style: none;
        margin-left: 20px;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 2px;
      }
    }
  }
}

.menu-line {
  float: left;
  width: 1px;
  height: 20px;
  background-color: rgba(23,4,29,0.2);
  margin: 0 -5px 0 12px;
}

.current-menu-item {
  border-bottom: solid 2px rgba(23,4,29,0.2);
}

.site-content {
  clear: both;
}
